h1 {
    color: rgb(0, 255, 42);
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    background-color: rgb(146, 61, 61, 0.6);
    
    
}

/* hehe comment */

p {
    color: brown; 
    color: aqua;
}

#second-paragraph {
    color: blue;
}

.a-whole-new-world, .a-new-paragraph {
    color: black;
}

body {
    background-image: url(../L2/img/hor.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    height: 250vh;

}

img {
    border-width: 5px;
    border-style: solid;
    border-color: red;
    border-top: 5px solid greenyellow;
    border-radius: 10px;
    /* no thank you to below */
    box-shadow: 10px 10px 10px whitesmoke;
}